<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>View job</title>
</head>
<body>
<%= job.title %>
<%= job.description %>
<%= job.deadline %>
<%= job.numberRequired %>
<%= job.contactInfo %>
<%= job.payment %>
<%= job.location.longitude %>
<%= job.location.latitude %>
</body>
</html>
